{% extends 'base.html' %}

{% block content %}
<h1>
    {{ _('Hi, %(username)s!',username= current_user.username)}}

</h1>

{% if form %}

<form class="form form-horizontal" action="" method="post">
    {{form.hidden_tag()}}
    <p>
        {{form.post.label}} <br>
        {{form.post(cols = 64, rows = 4)}}
        {% for error in form.post.errors %}
        <span style="color:red;">{{error}}</span>

        {% endfor %}

    </p>
    <p>{{form.submit()}}</p>
</form>
{% endif %}

{% for post in posts %}
<div>
    <p>
        {% include '_post.html' %}
    </p>
</div>

{% endfor %}
{% if prev_url %}
<a href="{{prev_url}}">{{_(Newer posts)}}</a>
{% endif %}

{% if next_url %}
<a href="{{next_url}}">{{_(Older posts)}}</a>
{% endif %}
{% endblock %}